.top-main {
  background-color: rgb(254, 255, 215);
  height: 450px;
  width: 100%;
}
.top-box {
  z-index: 1;
  height: 450px;
  width: 100%;
  &__titlle {
    font-size: 30px;
    font-family: Hiragino Mincho Pro;
    margin-left: 100px;
  }
  &__items {
    height: 350px;
    width: 1500;
    background: linear-gradient(180deg,rgb(198, 255, 222), rgb(56, 255, 89));
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    border: solid 1px black;
    .top-item {
      height: 350px;
      width: 240px;
      padding: 0 20px;
      &__box {
        height: 348px;
        width: 200px;
        padding: 0 20px;
        background: linear-gradient(-45deg,rgb(198, 255, 255), rgb(129, 194, 255));
        border: solid 1px rgb(212, 123, 123);
      }
      &__name {
        height: 49px;
        width: 200px;
        padding: 0 20px;
        background-color: rgb(255, 211, 245);
        position: relative;
        transform: translate(-20px, 21px);
        line-height: 50px;
        text-align: center;
        &__link {
          height: 50px;
          width: 240px;
          position: absolute;
          transform: translate(-26%, 0);
        }
      }
    }
  }
  .top-paginate {
    text-align: center;
    font-size: 20px;
    margin: 15px 100px 15px 100px;
  }
}
.edit-box {
  height: 30px;
  width: 100px;
  float: left;
  text-align: center;
  position: absolute;
  transform: translate(30px, -75px);
}
.destroy-box {
  height: 30px;
  width: 100px;
  float: right;
  text-align: center;
  position: absolute;
  transform: translate(120px, -75px);
}
.top-item-user {
  height: 25px;
  width: 188px;
  font-size: 18px;
  font-weight: bold;
  color: brown;
  position: absolute;
  transform: translate(27px, -347px);
  text-align: right;
}
.top-picture {
  height: 270px;
  width: 200px;
  object-fit: contain;
  padding-top: 5px;
}
.top-new-btn {
  position: fixed;
  bottom: 32px;
  right: 28px;
  width: 130px;
  height: 130px;
  font-size: 22px;
  border-radius: 20%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  padding-top: 25px;
}
.top-login {
  position: fixed;
  top: 150px;
  right: 30px;
  height: 40px;
  width: 230px;
  background-color: rgb(102, 181, 255);
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color: #fff;
}
.top-mypage {
  position: fixed;
  top: 202px;
  right: 30px;
  height: 40px;
  width: 230px;
  &__area {
    background-color: rgb(102, 181, 255);
    text-align: center;
    line-height: 20px;
    border-radius: 50px;
    color: #fff;
    position: relative;
    &__link {
      height: 40px;
      width: 230px;
      position: absolute;
      transform: translate(-115px, 0);
    }
  }
}
.top-user-page {
  height: 20px;
  width: 180px;
  margin: 0px 15px 200px 30px;
  background-color: lightgray;
  z-index: 2;
}