body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.header {
  box-sizing: border-box;
  position: relative;
  &__img {
    height: 200px;
    width: 100%;
    object-fit: fill;
    position: relative;
  }
  &__titlle {
    position: absolute;
    // top: 110px;
    // left: 685px;
    transform: translate(245%,130%);
    z-index: 2;
    height: 80px;
    width: 250px;
    color: navy;
    font-size: 60px;
    font-weight: bold;
    font-family: Hiragino Mincho Pro;
  }
}
.footer{
  background: linear-gradient(rgb(242, 255, 129), rgb(250, 138, 9));
  width: 100%;
  height: 220px;
  text-align: center;
  padding: 10px 0 40px;
  bottom: 10px;
  &__img-left {
    height: 220px;
    width: 31.9%;
    object-fit: contain;
  }
  &__img-center {
    height: 220px;
    width: 31.9%;
    object-fit: contain;
  }
  &__img-right {
    height: 220px;
    width: 31.9%;
    object-fit: contain;
  }
  &__logo {
    font-family: Hiragino Mincho Pro;
    font-weight: bold;
    color: blue;
    }
}