.new-main {
  background-color: rgb(254, 255, 215);
  height: 450px;
  width: 100%;
}
.new-box {
  z-index: 1;
  height: 450px;
  width: 100%;
  &__titlle {
    font-size: 30px;
    font-family: Hiragino Mincho Pro;
    margin-left: 100px;
  }
  &__items {
    height: 350px;
    width: 1500;
    background-color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
  }
}

.new-picture {
  height: 350px;
  width: 39.3%;
  float: left;
  background-color: rgb(211, 239, 248);
  border:solid 1px #ccc;
  text-align: center;
}
.file-box {
  margin: 3px;
}

.new-information {
  height: 350px;
  width: 57.2%;
  float: right;
  &__left {
    height: 190px;
    width: 47.4%;
    float: left;
    &__name {
      height: 40px;
      width: 79%;
      padding-top: 20px;
    }
    &__liquor {
      height: 40px;
      width: 79%;
      padding-top: 20px;
    }
    &__place {
      height: 40px;
      width: 79%;
      padding-top: 20px;
    }
  }
  &__right {
    height: 190px;
    width: 47.4%;
    float: right;
    &__taste {
      height: 40px;
      width: 79%;
      padding-top: 20px;
    }
    &__alcohol {
      height: 40px;
      width: 79%;
      padding-top: 20px;
    }
    &__yobi {
      height: 40px;
      width: 79%;
      padding-top: 20px;
    }
  }
  &__text {
    height: 150px;
    width: 99.9%;
    padding: 200px 0 0 0;
  }
}
.new-select {
  height: 40px;
  width: 116.5%;
  background-color: rgb(211, 239, 248);
  border:solid 1px #ccc;
}
.new-remarks {
  height: 140px;
  width: 95.5%;
  background-color: rgb(211, 239, 248);
  border:solid 1px #ccc;
}
.new-form-btn {
  height: 40px;
  width: 80px;
  background-color: rgb(252, 221, 164);
  margin: 5px 0 0 0;
  position: absolute;
  transform: translate(-973%, 363%);
}